<script type="text/template" id="wizard-template">
    <div id="step-1" class="wizard-step">
        <div class="step-title">Where are you going?</div>
    </div>
    <div id="step-2" class="wizard-step">
        <div class="step-title">For how long?</div>
    </div>
    <div id="step-3" class="wizard-step">
        <div class="step-title">Start Date</div>
    </div>
    <div id="step-4" class="wizard-step">
        <div class="step-title">End Date</div>
    </div>
    <div id="step-5" class="wizard-step">
        <div class="step-title">Where are you staying?</div>
    </div>
    <div id="step-6" class="wizard-step">
        <div class="step-title">What would you like to do?</div>
    </div>
</script>