@import '../../node_modules/bootflat/bootflat/css/bootflat.min.css';
@import '../../node_modules/bootflat/css/bootstrap.min.css';

@import 'constants/colors';
@import 'constants/mixins';
@import 'views/wizard';

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: @white;
}

#main-content {
  height: 100%;
}

.backbone-view {
  height: 100%;
  width: 100%;
}