@import '../../node_modules/bootflat/bootflat/css/bootflat.min.css';
@import '../../node_modules/bootflat/css/bootstrap.min.css';

@import 'constants/colors';
@import 'constants/mixins';
@import 'views/wizard';
@import 'views/login';

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: @white;
}

h1 {
    color: @blueish;
}

h2, h3, h4 {
    color: @mint;
}

#main-content {
  height: 100%;
}

.backbone-view {
  height: 100%;
  width: 100%;
}